* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", cursive;
}

body {
  overflow: hidden;
}

canvas {
  background-color: transparent;
  top: 0;
  left: 0;
}

img {
  display: none;
}

#loading {
  position: absolute;
  top: 50%;
  text-align: center;
  font-size: 100px;
}
